

.createschedule-42-10{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-42-11{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-42-12{
position:absolute ;width: 1440.0px; height: 73.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;background:''}

.vector-42-13{
position: absolute;left: 1385.0px; top: 23.0px; width: 30.0px; height: 30.0}

.vector-42-20{
position: relative; width: 24.0px; height: 24.0}

.btn-42-16{
position: absolute;
left: 215.0px;
 top: 17.0px;
 width: 207.0px;
 height: 42.0px;
border-radius: 2.0px; background-color: rgba(237, 237, 237, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.vector-42-22{
position: absolute;left: 22.0px; top: 24.0px; width: 155.537841796875px; height: 33.975830078125}

.vector-42-47{
position: absolute;left: 191.0px; top: 0.0px; width: 1.0px; height: 73.0}

.group-42-48{
position:absolute ;width: 624.0px; height: 46.0px;  background-color: rgba(0,0,0,0.0);top:84px; left: calc( ( ( 100% - 1440px) / 2 ) + 25px);background:''}

.text-42-49{
position: absolute;
left: 0.0px;
 top: 9.0px;
 width: 200.0px;
 height: 29.0px;
font-size: 24.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 600;
}

.text-42-50{
position: absolute;
left: 270.0px;
 top: 6.0px;
 width: 354.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 400;
}

.vector-42-51{
position: absolute;left: 235.0px; top: 0.0px; width: 1.0px; height: 46.0}

.group-42-55{
position:absolute ;width: 303.0px; height: 76.0px;  background-color: rgba(0,0,0,0.0);top:436px; left: calc( ( ( 100% - 1440px) / 2 ) + 498px);border-radius: 4.0px;background:''}

.vector-42-58{
position: relative; width: 24.0px; height: 24.0}

.btn-42-56{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 303.0px;
 height: 76.0px;
border-radius: 4.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 16.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.group-42-52{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(0,0,0,0.0);top:983px; left: calc( ( ( 100% - 1440px) / 2 ) + 0px);background:''}

.group-42-53{
position:absolute ;width: 1440.0px; height: 41.0px;  background-color: rgba(244,244,244,1.0);top:0px; left: 0px;box-shadow: 0.0px -1.0px 5.0px rgba(0, 0, 0, 0.10000000149011612);background:''}

.text-42-54{
position: absolute;
left: 27.0px;
 top: 10.0px;
 width: 113.0px;
 height: 21.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy; font-weight: 400;
}