<div class="createschedule-42-10" name="Createschedule">
 <div class="group-42-11" name="Group">
  <div class="group-42-12" name="Group">
  </div>
  <img class="vector-42-13" src="assets/images/Modules/createschedule/vector-42_13.svg"/>
  <button class="btn-42-16" type="button">
   <img class="vector-42-20" src="assets/images/Modules/createschedule/vector-42_20.svg"/>
   back to dashboard
  </button>
  <img class="vector-42-22" src="assets/images/Modules/createschedule/vector-42_22.svg"/>
  <img class="vector-42-47" src="assets/images/Modules/createschedule/vector-42_47.svg"/>
 </div>
 <div class="group-42-48" name="Group">
  <label class="text-42-49" type="text" value="Add Variables">
   Add Variables
  </label>
  <label class="text-42-50" type="text" value="Add what’s important to you for this schedule. Then click next.">
   Add what’s important to you for this schedule. Then click next.
  </label>
  <img class="vector-42-51" src="assets/images/Modules/createschedule/vector-42_51.svg"/>
 </div>
 <div class="group-42-55" name="Group">
  <button class="btn-42-56" type="button">
   <img class="vector-42-58" src="assets/images/Modules/createschedule/vector-42_58.svg"/>
   Set Date Range &amp; Group
  </button>
 </div>
 <div class="group-42-52" name="Group">
  <div class="group-42-53" name="Group">
  </div>
  <label class="text-42-54" type="text" value="@2021 Polaris AI, Inc.">
   @2021 Polaris AI, Inc.
  </label>
 </div>
</div>
